body {
  font-family: Arial;
  margin: 0;
  background: #f49898;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #222;
  color: white;
  height: 50px;
}

input {
  padding: 8px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 10px;
}

aside {
  background: white;
  padding: 10px;
}

#products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  flex: auto;
  background-color: rgb(126, 134, 136);
}

.card {
  background: rgb(252, 253, 253);
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s forwards;
  
}

.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.cart-item {
  display: flex;
  justify-content: space-between;
  animation: slideIn 0.3s ease;
  background-color: black;
  color: white;
}

@keyframes slideIn {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

button {
  background: #ff6b6b;
  border: none;
  padding: 8px;
  color: white;
  cursor: pointer;
}
button:hover {
  background: #ff4c4c;
  transform: scale(1.05);
}
header {
  animation: topDown 0.5s ease;
}

@keyframes topDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.cart {
  background: white;
  padding: 10px;
  background-color: black;
  color: red;
}


.web{
    width:100%;
    height:80px;
    background-color:rgb(62, 62, 59);
    text-align: center;

}
#search{
    height: 20px;
}
#kit{
  color: white;
  font-size: larger;
  text-transform: capitalize;
}
.cart-card {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  animation: slideIn 0.3s ease;
}

.cart-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-info {
  flex: 1;
}

.cart-info h4 {
  margin: 0;
}

.qty {
  display: flex;
  align-items: center;
  gap: 5px;
}

.qty button {
  padding: 4px 8px;
  font-size: 14px;
}

.remove-btn {
  background: rgb(20, 19, 19);
  padding: 5px 8px;
  border-radius: 50%;
}
.cart-info{
  width:60px;
  align-items: center;
  justify-content: center;
  color: #222;
}
